@model IEnumerable<FinalApp_SM.Models.Fee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body style="background-color:lightcyan">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("Index", "Fees", "FormMethod.Get"))
    {
        <p align="center">
            Enter Student ID:<input type="text" name="StudentID" />
            <button style="font-size:10px">Search</button>
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.ClassType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FeeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FeeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FeeID })
                </td>
            </tr>
        }

    </table>
