@model IEnumerable<FinalApp_SM.Models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body style="background-color:lightcyan">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ClassType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDay)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.ClassType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDay)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClassID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClassID })
                </td>
            </tr>
        }

    </table>
